.scrollDiv {
  max-height: 30rem;
  overflow-y: auto;
}

.hourCard {
  max-height: 15rem;
  overflow-y: auto;
}

#eventsListModalDiv {
  max-height: 15rem;
  overflow-y: auto;
}

body {
  background-image: url("images/tripleCloud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}